body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/841/395/non_2x/abstract-dark-black-color-background-with-scratched-texture-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}