body {
    background-image: url(https://png.pngtree.com/background/20230612/original/pngtree-graffiti-wall-wallpapers-hd-picture-image_3182745.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #FFFFFF;
}


table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
    background-color: #5252527a;
    border: 2px solid rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(15px);
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white; /* Agregado para cambiar el color del texto a blanco */
}

th {
    background-color: #810303;
}

.Agregar {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    margin-right: 5px;
}

body {
    background-color: #f8f9fa; /* Color de fondo */
     /* Color del texto en blanco */
}

main {
    text-align: center;
    margin-top: 20px;
}

table {
    margin-top: 20px;
}

table th, table td {
    color: white; /* Color del texto en blanco en la tabla */
}






